.App {
  text-align: center;
}

.App-header {
  background-color: rgb(27, 71, 136);
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 40px;
}

.App-title {
  font-size: 1.5em;
}

.App-body {
  margin-top: 30px;
  display: inline-block;
  width: 50%;
  text-align: center;
  vertical-align: top;
}

.App-body ul {
  list-style-type: none;
}
